@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body {
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 59, 111);
    background-color: whitesmoke;
    border: 1px solid rgb(0, 59, 111);
    width:770px;
    height:990px;
    margin:auto;
}

.partie1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


h2 {
    font-size: 18px;
    line-height: 2px;
}

.presentation {
    margin-left:70px;
    text-align: center;
    font-size: 16px;
}

.contact {
    margin:40px;
    text-align: center;
    font-size: 16px;
}

.photojuliette img {
    width:400px;
    height:300px;
    margin:30px;
    padding:40px;
}

.partie2 {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.compétences {
    line-height: 13px;
    width:250px;
    height:300px;
    margin-left:30px;
    text-align: center;
}

.experiencespro {
    line-height: 13px;
    width:250px;
    height:300px;
    margin:20px;
    text-align: center;
}

.formations {
    line-height: 13px;
    width:250px;
    height:300px;
    margin-right:30px;
    text-align: center;
}

.partie3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.texteprojet {
    text-align: center;
    margin:auto;
    font-weight: bold;
    
}


.projets {
    text-align: center;
    font-weight: bold;
    margin:-40px;
}

.projet1 img {
    width:200px;
    height:200px;
    padding: 10px;
}

.projet2 img {
    width: 200px;
    height: 200px;
    padding: 10px;
}

.projet3 img {
    width:200px;
    height:200px;
    padding: 10px;
}

@media screen and (max-width:660px) {
    
}